.card {
    display: flex;
    gap: 8px;
    align-items:flex-start;
}

.tag {
    font-size: 14px;
}

.card__names {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.cardButton {
    background-color: var(--text) !important;
    color: var(--x-background) !important;
    border-radius: 100px !important;
    padding: 6px 24px !important;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    font-weight: 800 !important;
    font-size: 14px !important;
    text-transform: inherit !important;
}

.cardButton:hover {
    background-color: var(--x-lightgrey) !important;
    transition: 100ms ease-in-out;
}